* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
}

#overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body {
  padding: 0 2rem;
  min-height: 100vh;
  background-color: #100224;
  /* background-color: transparent; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Black Ops One', sans-serif;
  color: #e1d7f1;
}

#overlay::before,
#overlay::after {
  content: '';
  position: fixed;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #986aa5;
  z-index: -1;
}

#overlay::before {
  left: 0;
  clip-path: polygon(0 0, 100% 0, 85% 2.5%, 100% 5%, 85% 7.5%,
      100% 10%, 85% 12.5%, 100% 15%, 85% 17.5%,
      100% 20%, 85% 22.5%, 100% 25%, 85% 27.5%,
      100% 30%, 85% 32.5%, 100% 35%, 85% 37.5%,
      100% 40%, 85% 42.5%, 100% 45%, 85% 47.5%,
      100% 50%, 85% 52.5%, 100% 55%, 85% 57.5%,
      100% 60%, 85% 62.5%, 100% 65%, 85% 67.5%,
      100% 70%, 85% 72.5%, 100% 75%, 85% 77.5%,
      100% 80%, 85% 82.5%, 100% 85%, 85% 87.5%,
      100% 90%, 85% 92.5%, 100% 95%, 85% 97.5%,
      100% 100%, 0 100%);
}

#overlay::after {
  right: 0;
  clip-path: polygon(100% 0, 0 0, 15% 2.5%, 0 5%, 15% 7.5%,
      0 10%, 15% 12.5%, 0 15%, 15% 17.5%,
      0 20%, 15% 22.5%, 0 25%, 15% 27.5%,
      0 30%, 15% 32.5%, 0 35%, 15% 37.5%,
      0 40%, 15% 42.5%, 0 45%, 15% 47.5%,
      0 50%, 15% 52.5%, 0 55%, 15% 57.5%,
      0 60%, 15% 62.5%, 0 65%, 15% 67.5%,
      0 70%, 15% 72.5%, 0 75%, 15% 77.5%,
      0 80%, 15% 82.5%, 0 85%, 15% 87.5%,
      0 90%, 15% 92.5%, 0 95%, 15% 97.5%,
      0 100%, 100% 100%);
}

img,
video {
  max-width: 100%;
}

.clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
  font-weight: 300;
}

.clock-separator {
  opacity: 1;
  transition: opasity 0.15s;
}

.clock-separator.hidden {
  opacity: 0.25;
}

.date {
  font-size: 2.5rem;
  opacity: 0.75;
}

.search {
  min-width: 430px;
  height: 54px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #986aa5;
  border-radius: 25px;
  background-color: rgba(152, 106, 165, 0.5);
  margin-top: 1rem;
  padding: 0 8px 0 16px;
}

.search input {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: transparent;
  color: #e1d7f1;
  font-family: 'Black Ops One', sans-serif;
}

.search input::placeholder {
  color: #986aa5;
  font-family: 'Black Ops One', sans-serif;
}

.search span {
  padding: 8px;
  font-size: 0.75rem;
  border: 2px solid #986aa5;
  color: #e1d7f1;
  border-radius: 25px;
  cursor: pointer;
}

.search span:hover {
  transform: translateY(-2px);
}

.shortcuts {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.shortcut {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
}

.shortcut-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 25px;
  background-color: rgba(152, 106, 165, 0.5);
  color: #e1d7f1;
  transition: transform 0.2s ease;
}

.shortcut:hover .shortcut-icon {
  transform: scale(1.05) translateY(-2px);
}

.shortcut-name {
  font-size: 0.95rem;
  color: #e1d7f1;
  text-align: center;
  line-height: 1.2;
  margin-top: 0.5rem;
}

.shortcut-delete {
  position: absolute;
  top: 0;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 0.75rem;
  opacity: 0;
  cursor: pointer;
}

.shortcut:hover .shortcut-delete {
  opacity: 1;
  transform: translateY(-2px);
}

.shortcut-delete:hover {
  top: -2px;
  color: white;
  background-color: rgba(220, 60, 60, 0.5);
}

p {
  font-size: 0.98rem;
  color: #e1d7f1;
  line-height: 1.7;
  text-align: left;
}



@media (max-width: 600px) {

  #overlay::before,
  #overlay::after {
    display: none;
  }
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
}

.modal-overlay.open {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #986aa5;
  border-radius: 25px;
  background-color: rgba(152, 106, 165, 0.75);
  margin-top: 1rem;
  padding: 16px;
  gap: 16px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-close:hover {
  transform: translateY(-2px);
}


.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form input {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #986aa5;
  font-family: 'Black Ops One', sans-serif;
  padding: 8px 16px;
}

.modal-form input::placeholder {
  color: #986aa5;
  font-family: 'Black Ops One', sans-serif;
}

.modal-form button {
  padding: 8px 16px;
  border-radius: 16px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5rem;
  color: #986aa5;
  cursor: pointer;
  outline: none;
  border: none;
}

.modal-form button:hover {
  transform: translateY(-2px)
}

.widgets {
  width: min(500px, 100%);
  column-count: 2;
  column-gap: 24px;
  margin-top: 16px;
}

.widget {
  break-inside: avoid;
  margin-bottom: 24px;
  border: 2px solid #986aa5;
  border-radius: 16px;
  padding: 16px;
  background-color: rgba(152, 106, 165, 0.35);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.github-profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.github-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.github-name {
  font-size: 1.2rem;
}

.github-username {
  font-size: 0.85rem;
  opacity: 0.75;
}